<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="lastRestartDate" value="1970-01-01"/>
    <add key="restartAtHour" value="4"/>
    <add key="kioskUrl" value="http://localhost:3000"/>
  </appSettings>
</configuration>